:root{
    --main_clr_dark:black;
    --main_clr_white: white;
    --main_accent_clr: lightgrey;
  }
  
  ::-webkit-scrollbar{
    width: 0px;
  }
  
body{
    margin: 0%;
}

.container{
    display: flex;
    display: grid;
    height: auto;
    width: 100vw;

}

#container1{
    grid-template-rows: 20vh 60vh 60vh 60vh 30vh;
    grid-template-areas: 
    'nv'
    'a1'
    'a2'
    'a3'
    'ft'; 
}

#container2{
    grid-template-rows: 20vh 60vh 60vh 30vh;
    grid-template-areas: 
    'nv'
    'a1'
    'a2'
    'ft'; 
}

#container3{
    grid-template-rows: 20vh 80vh 60vh 30vh;
    grid-template-areas: 
    'nv'
    'a1'
    'a2'
    'ft'; 
}

#container4{
    grid-template-rows: 20vh 70vh 70vh 50vh 30vh;
    grid-template-areas: 
    'nv nv'
    'i1 a1'
    'a2 i2'
    'k1 k1'
    'ft ft'; 
}

#meny1{
    display: flex;
    display: grid;
    height: auto;
    margin: 0;
    width: 100vw;
    grid-template-areas:
    'l1 l2 l3';
}

#bread_menu_background{
    background-image: url(../img/debbie-widjaja-H_PXix_4Bwc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin: 0;
}

#bread_menu{
    grid-template-areas: 'b1 b2 b3 b4';
    margin: 0%;
    flex-direction: row;
    opacity: 1;
}

@media only screen and (max-width: 500px) {
    .a1{
        width: 100vw;
    }    
    #container1{
        grid-template-rows: 10vh 40vh 40vh 40vh 10vh;
        grid-template-areas: 
        'hd'
        'a1'
        'a2'
        'a3'
        'ft'; 
    }
    
    #container2{
        grid-template-rows: 10vh 60vh 50vh 10vh;
        grid-template-areas: 
        'hd'
        'a1'
        'a2'
        'ft'; 
    }
    
    #container3{
        grid-template-rows: 10vh 70vh 70vh 10vh;
        grid-template-areas: 
        'hd'
        'a1'
        'a2'
        'ft'; 
    }
    
    #container4{
        grid-template-rows: 10vh 40vh 30vh 30vh 50vh 10vh;
        grid-template-areas: 
        'hd'
        'i1'
        'a1'
        'a2'
        'k1'
        'ft'; 
    }

    nav{
        display: none;}
    .navbar{
        display: none;
    }
    #img2{
        display: none;}
}

/* header{
    display: flex;
    grid-area: hd;
    justify-content: center;
} */

nav{
    display: flex;
    grid-area: nv;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    li{
    color: var(--main_clr_dark);
    margin: 0px 10%;
  }

.navbar{
    width: 100vw;
    margin: auto;
    font-size: 20px;
    padding: 0px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    margin: 0px 20vw;
}

a{
    color: var(--main_clr_dark);
    text-decoration: none;
}
.a1{
    grid-area: a1;
    background-color: var(--main_clr_white);
}

.a2{
    grid-area: a2;
    background-color: var(--main_clr_white);
}

.a3{
    grid-area: a3;
    background-color: var(--main_clr_white);
}

.bread_list{
    list-style: circle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-position: inside;
    
}

#img_0{
    position: absolute;
}

#img_1{
    grid-area: i1;
    width: cover;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

#img_2{
    grid-area: i2;
    width: cover;
    max-width: 90%;
    max-height: 95%;
    margin: auto;
}

#karta{
    grid-area: k1;
    background-color: lightseagreen;
}

#bread_0{
    position: absolute;
    width: 10%;
    text-align: center;
    margin: 0 45%;
    opacity: 1;

}

#bread_1{
    grid-area: b1;
    width: 25vw;
    padding-top: 40px;
    opacity: 1;
}

#bread_2{
    grid-area: b2;
    width: 25vw;
    padding-top: 40px;
    opacity: 1;
}

#bread_3{
    grid-area: b3;
    width: 25vw;
    padding-top: 40px;
    opacity: 1;
}

#bread_4{
    grid-area: b4;
    width: 25vw;
    padding-top: 40px;
    opacity: 1;
}


#l1{
    grid-area: l1;
    width: auto;
    text-align: center;
}

#l2{
    grid-area: l2;
    width: auto;
    text-align: center;
}

#l3{
    grid-area: l3;
    width: auto;
    text-align: center;
}
footer{
    grid-area: ft;
    background-color: green;
}